.btn {
    font-size: inherit;
    background: none;
    border:none;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary {
    color: white;
    background-color: hsl(200, 100%, 50%);
}

.btn--primary:hover {
    background-color: hsl(200, 100%, 35%)
}

.btn--danger {
    color: white;
    background-color: hsl(0, 100%, 50%);
}

.btn--danger:hover {
    background-color: hsl(0, 100%, 35%)
}

.edit--tooltip {
    background-color: rgb(190, 123, 16);
    background-opacity: .5;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    padding: 4px;
    border-style: dotted;
    font-size: 0.75em;
}

.search--button {
    background-color: aquamarine;
}