.btn {
    font-size: inherit;
    background: none;
    border: groove purple 3.5px;
    outline: none;
    font-weight: bold;
    font-size: inherit;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.btn--primary {
    color: white;
    background-color: #02bf02;
}

.btn--add {
    color: black;
}

.btn--primary:hover {
    background-color: #01bccb;
}

.btn--danger {
    color: white;
    background-color: #c04b09;
}

.btn--danger:hover {
    background-color: #01bccb;
}

.home--search--button {
    background-color: #02bf02;
    border-radius: 6px;
    border: solid black 4px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    color: black;
}

.home--search--button:hover {
    background-color:#d45b00;
}

.search--button__container  {
    padding: 10px;
}

