.my-nav {
    background-color:#01bccb;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 250px;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.cook-image {
    padding-left: 10px;
    padding-right: 20px;
    color: white;
}