.recipe {
    padding: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid black;
}

.recipe:last-child {
    border-bottom: none;
    padding-bottom: 10px;
}


.recipe__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-botton: 30px;

}

.recipe__title {
    margin: 5px;
    font-size: 1.75em;
    background-color:#feae01;
    border-radius: 6px;
    padding: 4px;

}

.recipe__row {
    margin-top: 5px;
    background-color: #045c06;
    color: white;
    max-width: fit-content;
    border-radius: 6px;
    padding: 4px;
}

.recipe__label {
    margin-right: 5px;
    
}

.recipe__label-ing {
    background-color:#feae01;
    border-radius: 6px;
    color: black;
    padding: 4px;
    
}

.recipe__label-ins {
    background-color:#feae01;
    border-radius: 6px;
    padding: 4px;
    color: black;
}




.recipe__value {
    font-weight: 300;
}

.recipe__value--indented  {
    margin-top: 10px;
    margin-left: 20px;
}

.recipe__instructions {
    white-space: pre-wrap;
}