.search--container {
    display: grid;
    place-items: center;
    margin: 20px;
    
    
}

.return--button__container {
    display: grid;
    place-items: center;
    margin: 20px;
}

.results--container {
    display: grid;
    place-items: center;
    margin: 20px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 50px;
}

.search--input {
   padding: 6px;
   background-color: #02bf02;
    /* background-color: hsl(0, 100%, 35%); */
    color:black;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    border: solid black 4px;
    padding: 25px;
    font-size: 1.2em;
}

input[type=text]:focus{
    background-color: #01bccb;
    color: black;
    border:purple double 10px;
  }

  input[type=text]:hover{
    background-color: #01bccb;
    color: black;
    border: purple double 6px;
  }

  input[type=name]:focus{
    background-color: #01bccb;
    color: black;
    border:purple double 10px;
  }

  input[type=name]:hover{
    background-color: #01bccb;
    color: black;
    border: purple double 6px;
  }

  input[type=number]:focus{
    background-color: #01bccb;
    color: black;
    border:purple double 10px;
  }

  input[type=number]:hover{
    background-color: #01bccb;
    color: black;
    border: purple double 6px;
  }

  textArea:focus{
    background-color: #01bccb;
    color: black;
    border:purple double 10px;
  }



.search--button {
    background-color:#01bccb;
    width: inherit;
    color: white;
    border-radius: 12px;
    padding: 5px;
    border: solid black 4px;
}

.search--button:hover {
    background-color: hsl(0, 100%, 50%);
}

.wiki--container {
    background-color: #01bccb;
    padding: 6px;
    margin: 8px;
    border-radius: 4px;
    color: black;
}

.wiki--container:hover {
    background-color:#feae01;

}